<%= form_for(@recipe) do |f| %>
<%= render 'layouts/errors' %>

<p class="form-group">
  <%= f.label :Nome %><br />
  <%= f.text_field :name, class:"form-control" %>
</p>
<p class="form-group">
  <%= f.label :Ingredientes %><br />
  <%= f.text_field :stuff , cols: 20, rows: 5, class:"form-control" %>
</p>
<p class="form-group">
  <%= f.label :Tipo %><br />
  <%= f.select :kind , Recipe::KIND, prompt: 'Escolha a sua opção', class:"form-control" %>
</p>
<p class="form-group">
  <%= f.label :Calorias %><br />
  <%= f.number_field :calories, class:"form-control" %>
</p>
<p class="form-group">
  <%= f.label :Modo_de_Preparo %><br />
  <%= f.text_area :prepare_mode , cols: 20, rows: 5, class:"form-control"  %>
</p>
<p class="form-group">
  <%= f.label :Tempo_de_preparo %><br />
  <%= f.time_select :duration, class:"form-control" %>
</p>
<p class="form-group">
  <%= f.label :Porções %><br />
  <%= f.text_field :portion, class:"form-control" %>
</p>
<p class="form-group">
  <%= f.label :Custo %><br />
  <%= f.number_field :cost , cols: 20, rows: 5, class:"form-control"  %>
</p>
<p class="form-group">
  <%= f.label :Poster %><br />
  <%= f.text_field :poster, placeholder:".GIF .JPEG ou .PNG", class:"form-control" %>
</p>

<p>
  <%= f.submit class:'btn btn-primary' %>
  <%= link_to 'Cancelar', recipes_url, class:'btn btn-default' %>
</p>

<% end %>
