<h1><%= pluralize(@recipes.size, "Receita", "Receitas")%></h1>
  <% @recipes.each do |recipe| %>
  <article>
      <h2><%= link_to recipe.name , recipe %></h2>
      <p><%= formata_caloria(recipe) %></p>
      <table>
        <tr>
          <th>Modo de Preparo:</th>
          <td><%= truncate(recipe.stuff, length:15, separador:' ') %></td>
          </tr>
          <th>Custo do Prato</th>
          <td><%= number_to_currency(recipe.cost) %></td>
        </tr>
      </table>
  </article>
<% end %>
<br /><%= link_to 'Nova Receita' , new_recipe_path %>
