<h1><%= pluralize(@recipes.size, "Receita", "Receitas")%></h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= recipe.name %>
    <%= truncate(recipe.stuff, length:15, separador:' ') %>
    <%= formata_caloria(recipe) %>
    <%= number_to_currency(recipe.cost) %></li>
  <% end %>
</ul>
