<div class="container">
<div class="jumbotron">
<article>
  <header>
    <h1><%= @recipe.name %></h1>
    <%= imagem(@recipe) %>
  </header>
  <h2>Ingredientes</h2>
  <p><%= @recipe.stuff %></p>
  <h2>Calorias</h2>
  <p><%= @recipe.calories %></p>
  <h3>Custo</h3>
  <p><%= @recipe.cost %></p>
  <h3>Modo de Preparo</h3>
  <p><%= @recipe.prepare_mode %></p>
  <h3>Tempo Preparo</h3>
  <p><%= @recipe.duration.to_formatted_s(:time) %> min</p>
  <h3>Porções</h3>
  <p><%= pluralize(@recipe.portion, 'porção', 'porções') %></p>
</article>

<%= link_to pluralize(@recipe.comments.size, 'Comentário', 'Comentários'), recipe_comments_path(@recipe) %>

</div>
<%= link_to recipes_path  , class:'btn btn-link' do %>
<i class="glyphicon glyphicon-home"> Home</i>
<% end %>

<%= link_to edit_recipe_path(@recipe) , class:'btn btn-link' do %>
<i class="glyphicon glyphicon-edit"> Editar</i>
<% end %>

<%= link_to recipe_path(@recipe), method: :delete, data: {confirm: "Deseja deletar esta receita?"} do %>
<i class="glyphicon glyphicon-remove-sign"> Excluir</i>
<% end %>
</div>
